@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Nunito-Reg';
        src: local('Nunito-Reg'),
           url('/static/fonts/NunitoSans-Regular.woff') format('woff');
    }
}

@font-face{
    font-family: 'Nunito-Black';
    src: url('/static/fonts/NunitoSans-Black.woff') format('woff');
  }

  @font-face{
    font-family: 'Nunito-Light';
    src: url('/static/fonts/NunitoSans-Light.woff') format('woff');
  }

  @font-face{
    font-family: 'Nunito-XLight';
    src: url('/static/fonts/NunitoSans-ExtraLight.woff') format('woff');
  }